[submodule "ITG.Translit"]
	path = ITG.Translit
	url = git@github.com:sergey-s-betke/ITG.Translit.git
[submodule "ITG.Yandex.PDD"]
	path = ITG.Yandex.PDD
	url = git@github.com:sergey-s-betke/ITG.Yandex.PDD.git
